<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">All yours minds</h5>
          <!-- <p class="grey-text text-lighten-4">Do you want to contact?.</p> -->
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contact</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/cricrespo/">Linkdin</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/cricrespo">Github</a></li>
            <li><a class="grey-text text-lighten-3" href="mailto:cricrespo@gmail.com">cricrespo@gmail.com</a></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">© 2017 Copyright cricrespo</div>
    </div>
  </footer>