
          <div class="container-main" ng-controller="addListController as add">
        
              <div class="row">
                <div class="col s12 m12">
                  <div class="card  blue-grey lighten-3">
                    <div class="card-content">
                      <span class="card-title">Create new list</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col s12 m6 button-create">
                <a class="btn-floating btn-large waves-effect pulse" id="modal-trigger" ><i class="material-icons">add</i></a>
              </div>

                <!-- Modal Structure -->
                    
                <div id="modal1" class="modal">

                  <div class="row">
                    <form class="col s12">

                      <div class="row">
                        <div class="input-field col s12">
                          <i class="material-icons prefix">title</i>
                          <input name="title" id="title" type="text" class="validate" ng-model="add.title">
                          <label for="title">Title</label>
                        </div>
                    
                        <div class="input-field col s12">
                          <i class="material-icons prefix">mode_edit</i>
                          <input id="todo" name="todo" type="text" class="validate" ng-model="add.todo">
                          <label for="todo">Todo</label>
                        </div>

                        <div class="input-field col s12">
                          <i class="material-icons prefix">perm_contact_calendar</i>
                          <input  name="calendar" class="datepicker" ng-model="add.calendar">
                          <label for="calendar">Before when?</label>
                        </div>

                        <div class="input-field col s12">
                          <i class="material-icons prefix">timer</i>
                          <input name="time" class="timepicker" ng-model="add.time">
                          <label for="time">What time?</label>
                        </div>

                      </div>

                      <div class="row">
                        <div class="col s12">
                         <a class="btn-floating" id="close-modal" type="submit" ng-click="add.update()"><i class="medium material-icons">send</i></a>
                        </div>
                      </div>

                    </form>
                  </div>                      
                </div>  
            </div>
