
        <div class="col s12 center-align container" ng-controller="showTodoController as show" > 
            <div  ng-repeat="list in show " class="repeat-todo">                                
                <div class="content">
                    <ul>
                        <li><a href="#" class="collection-item">{{list.title}}</a> </li>
                        <li><a href="#" class="collection-item">{{list.todo}}</a> </li>
                        <li><a href="#" class="collection-item">{{list.calendar  ? list.calendar : 'There is not Date'}}</a></li>
                        <li><a href="#" class="collection-item">{{list.time ? list.time : 'There is not Time'}}</a></li>
                    </ul>
                    <div class="card-action">
                        <a class="btn-floating  waves-effect delete" id="delete" ng-click="show.remove('{{list.$id}}')"><i class="material-icons" >delete</i></a>
                        <a class="btn-floating  waves-effect" id="open-edit"><i class="material-icons" >edit</i></a>
                    </div>
                </div>                                                        
            </div> 

        </div>
