
        <div class="col s6 center-align" ng-controller="showTodoController as show" > 
                <div  ng-repeat="list in show " class="repeat-todo">                                
                    <div class="collection">
                        <a href="#!" class="collection-item">{{list.title}}</a>
                        <a href="#!" class="collection-item">{{list.todo}}</a>
                        <a href="#!" class="collection-item">{{ list.calendar  ? list.calendar : 'There is not Date'}}</a>
                        <a href="#!" class="collection-item">{{list.time ? list.time : 'There is not Time'}}</a>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn">Delete</a>
                            <a class="waves-effect waves-light btn">Edit</a>
                        </div>
                    </div> 
                                                       
                </div> 
            </div>
        </div> 